.contato{
    background-color: #153448;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.copy{
    margin-top: 1rem;
    color: white;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.contanier-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item{
    margin-bottom: 2rem;
}

.footer-item h3, p, a{
    color: white;
    font-size: 24px;
}

.footer-item div h3{
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    width: 12ch;
}

.footer-item div{
    display: flex;
    gap: 40px;
    margin-bottom: 1rem;
}

.footer-contato h3{
    text-align: center;
    color: white;
    font-size: 36px;
    margin-bottom: 1rem;
}

.footer-contato div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 14px;
}

@media (max-width:900px){
    .contanier-footer{
        width: initial;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .copy{
        text-align: center;
        font-size: 22px;
    }
}

@media (max-width:480px){
    .footer-item img{
        display: none;
    }

    .footer-item div h3{
        width: initial;
        display: flex;
        justify-content: center;
    }

    .copy{
        text-align: center;
        font-size: 22px;
    }
}
