.navegacao{
    background-color: #153448;
}

.navegacao ul{
    display: flex;
    gap: 20px;
    padding: 1.4rem 2rem;
}

.navegacao li a{
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}