.navegacao{
    background-color: #153448;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem ;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navegacao a{
    color: white;
    font-size: 28px;
    line-height: 1.125;
}

.navegacao ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 900px){
    .navegacao ul{
        justify-content: center;
        gap: 18px;
    }
}