.newslatter{
    background-color: #677680;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem ;
}

.contanier-newslatter{
    max-width: 100%;
    display: flex;
    gap: 80px;
}

.newslatter-item h2{
    color: white;
    font-size: 56px;
    margin-bottom: 1rem;
}

.newslatter-item p{
    width: 70%;
    font-size: 20px ;
    margin-bottom: 1rem;
}

.email{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    gap: 20px;
}

.email label{
    display: none;
}

.email input{
    width: 70%;
    border-radius: 12px;
    font-size: 24px;
    padding: 1rem;
}

.email button{
    background-color: #153448 ;
    border-radius: 12px;
    color: white;
    width: 30%;
    font-size: 28px;
    padding: 1rem;
    cursor: pointer;
}

.email button:hover{
    background-color: #153448aa ;
}

@media (max-width: 1200px){
    .contanier-newslatter{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .email{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .email input, .email button{
        width: 100%
    }

    .newslatter-img{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 500px){
    .newslatter-item h2{
        font-size: 34px;
    }

    .newslatter-item p{
        font-size: 18px ;
    }

    .email input, .email button{
        font-size: 22px;
        padding: 1rem;
    }
}