.produto-container{
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.produto-titulo{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.produto-titulo h2{
    color:#153448;
    font-size: 70px;
}

.produto-lista{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.produto-item{
    background-color: #3C5B6F;
    border-radius: 22px;
    padding: 1rem;
    width: 420px;
    /* height: 530px; */
}

.produto-item-tag{
    color: white;
    background-color: #EE2D2D;
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
}

.produto-item-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto-item-div img{
    width: 260px;
    height: 360px;
}

.produto-item-div h3{
    margin-top: 1rem;
    color: white;
    font-size: 32px;
}

.produto-item-div div{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.produto-item-div p, a{
    font-size: 20px ;
    align-items: center;
}

.produto-valor-antes{
    color: white;
    text-decoration: line-through;
}

.produto-item-div a{
    color: white;
    background-color: #153448;
    border-radius: 10px;
    padding: 1rem;
}

@media (max-width:880px){
    .produto-titulo{
        justify-content: center;
    }

    .produto-titulo h2{
        font-size: 48px;
        text-align: center;
    }

    .produto-item{
        width: 300px;
    }

    .produto-item-div h3{
        font-size: 24px;
    }

    .produto-item-div p, a{
        font-size: 16px ;
        align-items: center;
    }

     .produto-container {
        padding: 4px;
    }
}

@media (max-width:480px){
    .produto-titulo img{
        display: none;
    }

    .produto-titulo h2{
        margin-top: 1rem;
        font-size: 48px;
        text-align: center;
    }

    .produto-lista{
        display: flex;
    }
}

