.sobrenos {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.sobrenos h2 {
  width: 50%;
  color: #153448;
  font-size: 68px;
  text-align: center;
}

.sobrenos-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 60px;
  gap: 40px;
}

.sobretexto{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sobretexto p{
  color: #153448;
  font-size: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  line-height: 1.4;
  width: 80%; 
  text-align: justify;
}

.sobretexto-comprar{
  font-size: 28px!important;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.sobretexto{
  display: flex;
  justify-content: center;
  flex: 2 1 300px;
}

.sobreimagem{
  flex: 1 1 338px;
  margin-bottom: 1rem;
}

@media (max-width: 1400px){
  .sobretexto p{
    font-size: 32px;
    text-align: justify;
  }
}

@media (max-width: 960px){
  .sobrenos{
    padding: 12px;
    gap: 8px;
  }

  .sobrenos h2{
    width: initial;
    font-size: 40px ;
  }
  
  .sobrenos-container{
    padding: 0 10px;
  }

  .sobrenos{
    margin: 0;
    gap: 18px;
  }

  .sobretexto p{
    width: initial;
    text-align: justify;
    font-size: 22px;
    padding: 6px;
  }

  .sobretexto-comprar{
    font-size: 18px!important;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  }
}