.sobrenos{
    margin: 40px 60px;
    text-align: center;
}
.sobrenos h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 48px;
    color: #153448;
}

.sobrenos p{
    color: #153448;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-align: left;
    width: 20ch;
}

.sobrenos-container{
    margin-top: 2rem;
    padding: 2rem 1rem;
}

.sobrenos-container div{
    display: flex;
    justify-content: space-around;
    gap:40px;
}

.sobrenos-container div img{
    height: 560px;
}