.topo-site{
    background-color: #948979;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 1.4rem 2rem;
}

.topo-site h1{
    color: #ffffff;
    font-size: 66px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    width: 14ch;
}